openapi: 3.1.0
info:
  title: cicada.guide
  description: >-
    Search, read, and cite civic and legislative meetings indexed by
    cicada.guide (e.g. "The Alabama Channel"). Provides plain-English search
    over the meeting corpus, full meeting transcripts, member profiles, and
    bill lookups.
  version: v1
servers:
  - url: https://api.cicada.guide/v1
paths:
  /search:
    get:
      operationId: searchMeetings
      summary: Search the meeting corpus ("Ask the corpus")
      description: >-
        Plain-English search over indexed meetings. Returns an AI summary
        plus speaker-attributed, timestamped result clips with confidence
        scores and related bills.
      parameters:
        - name: q
          in: query
          required: true
          description: Plain-English search query.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return.
          schema:
            type: integer
            minimum: 1
            maximum: 50
      responses:
        "200":
          description: Search results.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
  /meetings/{meetingId}:
    get:
      operationId: getMeeting
      summary: Read a meeting
      description: >-
        Fetch a single indexed meeting, including its transcript segments,
        speakers, and timestamps.
      parameters:
        - name: meetingId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Meeting detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Meeting"
  /members/{memberId}:
    get:
      operationId: getMember
      summary: Get a member profile ("Member tracking")
      description: >-
        Fetch an elected official's profile, including appearance stats and
        floor-vs-committee consistency by topic.
      parameters:
        - name: memberId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Member profile.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Member"
  /bills/{billId}:
    get:
      operationId: getBill
      summary: Get a bill or resolution
      parameters:
        - name: billId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Bill detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bill"
  /bodies:
    get:
      operationId: listBodies
      summary: List governing bodies and sessions
      responses:
        "200":
          description: List of governing bodies.
          content:
            application/json:
              schema:
                type: object
                properties:
                  bodies:
                    type: array
                    items:
                      $ref: "#/components/schemas/Body"
components:
  schemas:
    SearchResponse:
      type: object
      properties:
        query:
          type: string
        summary:
          type: string
          description: AI-synthesized summary of the results.
        results:
          type: array
          items:
            $ref: "#/components/schemas/SearchResult"
    SearchResult:
      type: object
      properties:
        meetingId:
          type: string
        body:
          type: string
        date:
          type: string
          format: date
        timestamp:
          type: string
          description: Timestamp offset within the source recording (HH:MM:SS).
        speaker:
          type: string
        excerpt:
          type: string
        confidence:
          type: number
          minimum: 0
          maximum: 1
        billIds:
          type: array
          items:
            type: string
    Meeting:
      type: object
      properties:
        id:
          type: string
        body:
          type: string
        date:
          type: string
          format: date
        durationSeconds:
          type: integer
        segments:
          type: array
          items:
            type: object
            properties:
              speaker:
                type: string
              timestamp:
                type: string
              text:
                type: string
    Member:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        appearances:
          type: integer
        floorVsCommitteeConsistency:
          type: object
          additionalProperties:
            type: number
    Bill:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        summary:
          type: string
        mentionedInMeetingIds:
          type: array
          items:
            type: string
    Body:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        sessions:
          type: array
          items:
            type: string
